#root {
  max-width: 1280px;
  padding: 2rem;
}

header {
  margin: 10;
  width: 100%;
}

h1, h2, h3 {
  margin-top: 0.25em;
}

main {

}

.card {
  background-color: #111;
  border: 1px solid #111;
  border-radius: 1em;
  padding: 2em;
}
